body{
    background-color: beige;
}
#titulo{
    font-size: 50px;
    color: cornflowerblue;
    text-shadow: 3px ipx gray;
    text-align: center;
    text-decoration: underline;
}
.menu{
    background-color: darkgrey;
    display: flex;

}
.menu li{
    list-style: none;
    margin-left:20px ;

    padding: 10px;
    
}
.menu li :hover{
    background-color: chartreuse;
    
    
    
}
.menu a{
    text-decoration: none;
}