h1{
    color: blue;
}
body{
    background-color: beige;
}
table{
    font-family: verdana;
    margin: 20px auto;
}
caption{
    display: table-caption;
    text-align: center;
    font-size: 30px;
          }
thead{ color:pink;
}   
th{ background-color: cadetblue;
}
tr{ background-color: indianred;
}
th,td{
    padding: 10px;
}tfoot td{
    background-color: cornflowerblue;
    text-align: center;
    color:yellow;
}