
}
body{
    background-color: beige;
}
h1{
    color: red;
    text-align: center;
}
ul{ 
    display: flex;
    

}
ul li{
    margin: 20px;
    list-style: none;

}
.imagen{
    display:block;
    margin:10px;
    width:200px;
}