body{
    background-color: beige;
    background-image: url("../imagenes/fondo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
}
.caja{
    background-color: beige;
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    text-align: justify;
}